* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  font-family: Arial, sans-serif;
  background-color: #F9FAFB; /* Fondo neutro */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.input {
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #34D399; /* Verde claro */
}

.main-button {
  background-color: #D1FAE5; /* Verde muy claro */
  color: #065F46; /* Texto verde oscuro */
  border-radius: 4px;
  padding: 8px 16px;
  height: 42px;
  border: 1px solid #34D399; /* Verde */
}

.main-button:hover {
  background-color: #34D399; /* Verde claro vibrante */
  color: #FFFFFF; /* Texto blanco */
}

.dropdown-item {
  padding: 10px 15px;
  color: #065F46; /* Verde oscuro */
  background-color: #F0FFF4; /* Verde muy suave */
}

.dropdown-item:hover {
  background-color: #D1FAE5; /* Verde claro */
}

.date-picker,
.number-input {
  border-radius: 4px;
  padding: 8px;
  border: 1px solid #34D399;
}

.date-picker:focus,
.number-input:focus {
  outline: none;
  border-color: #10B981; /* Verde medio */
  box-shadow: 0 0 0 3px rgba(34, 211, 153, 0.3); /* Resalte verde */
}







/*Animaciones sutiles*/

.button-animate {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button-animate:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.animated-button {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.animated-button:hover {
  transform: translateY(-2px);
  background-color: #34d399; /* Verde más claro */
}

.animated-button:active {
  transform: translateY(0);
}

/* Estilizar  general de la tabla */

/* si un caso es finalizado */
.active-row {
  background-color: rgba(0, 175, 117, 0.689);
}
/* Borde externo de la tabla */
.ant-table-container {
  border-left: 1px solid #afafaf; 
  border-right: 1px solid #afafaf;
}




.table-rentas-registro .ant-table-container  {
  border-left: 0 ;
  border-right: 0 !important;
}


.facturas-table .ant-table-thead > tr > th {
  background-color: #cdcdcd;
  font-weight: bold;
  color: black;
}
